@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ROEHOE-CHAN';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


 
@font-face {
    font-family: 'Manse';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Manse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: 'Noto Sans KR','Happiness-Sans-Bold', sans-serif;
    letter-spacing: -1px;
    line-height: normal;
    font-stretch: normal;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

ol,
ul,
li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.cf {
    content: '';
    display: block;
    clear: both;
}

.cb {
    clear: both;
}

 